<%= link_to "<<Back to list", {:action => 'index', :page_id => @page.id}, :class => 'back-link' %>

<div class="sections new">
  <h2>New Section</h2>

  <%= form_for(:section, :url => {:action => 'create', :page_id => @page.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
  
  <div class="form-buttons">
    <%= submit_tag('New Section') %>
  </div>

  <% end %>
</div>