<%= link_to('<< Back to Admin Users', :action=> 'index') %>

<div class="admin_users edit">
  <%= form_for(@admin_user, :url => {:action => 'update'}) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="form-buttons">
      <%= submit_tag('Update Admin User') %>      
    </div>
  <% end %>
</div>